@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    

     
        @*<form method="get" id="frm2" class="form-inline">
                <div class="srchFrm">
                   
                    <input  type="text" name="filt" class="form-control" />
                    <button type="submit" class="btn ms-2 btn-outline-green">Pretraga</button>
                </div>
        </form>*@

      <button ><a asp-page-handler="SomeStuff" class="nav-link text-dark">Pretraži google za 'Sekom'</a></button>


      <table cellpadding="0" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Naslov</th>
            <th>Html</th>
            
        </tr>
        @foreach (Models.ApplicationDbContext.Rezultat customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Naslov</td>
                <td>@customer.Html</td>
              
            </tr>
        }
    </table>

      
</div>
