@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    

     
        


      <form method="post">
    <input type="text" name="val"> 
    <input type="submit" name="pret" value="Pretraži pojam">
    <br />
    <input type="text" name="valF"> 
    <input type="submit" name="pretF" value="Filter pojam">
</form>


      <table cellpadding="0" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Naslov</th>
            <th>Html</th>
            
        </tr>
        @if(Model.Customers != null)        
        foreach (Models.ApplicationDbContext.Rezultat customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Naslov</td>
                <td>@customer.Html</td>
              
            </tr>
        }
    </table>

      
</div>
